* {
  max-width: 1340px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: auto;
}

/*charte graphiques*/
/*police*/
/*couleurs*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.explore {
  width: 50%;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #FFF;
  font-weight: 700;
  padding-inline: 20px;
  border: none;
  border-radius: 25px;
  height: 50px;
  box-shadow: 0 5px 10px #cecece;
}

.title {
  box-shadow: 0 4px 2px -2px #cecece;
  position: relative;
}
.title .title__ohmyfood {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  text-align: center;
  color: black;
}

.footer {
  background-color: #000;
}
.footer__title {
  color: #FFF;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__li {
  display: flex;
}
.footer__i {
  color: #FFF;
  width: 3%;
}
.footer__a {
  display: flex;
  color: #FFF;
  line-height: 1.8;
}

.research {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.research__forms {
  display: flex;
  justify-content: center;
}
.research__texte {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  color: black;
  padding-right: 140px;
}
.research__localisation {
  text-align: end;
}

.page__presentation {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.page__presentation__title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-top: 45px;
}
.page__presentation__p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
}

/*ne sert a rien ..flexbox*/
.filter {
  display: flex;
  flex-direction: column;
}
.filter__title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 28px;
  margin-top: 52px;
}
.filter__int {
  background-color: #f6f6f6;
  width: 90%;
  display: flex;
  border-radius: 30px;
  font-weight: 700;
  border: none;
  box-shadow: #EAEAEA 0 5px 15px;
  height: 70px;
  margin-bottom: 20px;
}
.filter__number {
  text-align: start;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFF;
}
.filter__infos {
  text-align: center;
  width: 25%;
}
.filter__label {
  text-align: start;
}

.card {
  background-color: #f6f6f6;
  /* voir card title et h4 ,h3*/
}
.card__card {
  background-color: #fff;
  border-radius: 25px;
  width: 90%;
  padding-bottom: 2px;
}
.card__a {
  position: relative;
}
.card__images {
  height: 180px;
  border-radius: 25px 25px 0 0;
}
.card__transf {
  display: flex;
}
.card__title {
  color: black;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 1.5;
}
.card__heat {
  color: #000;
  width: 10%;
  font-size: 25px;
}
.card__comment {
  color: black;
  padding-left: 20px;
}

.pages {
  background-color: #EAEAEA;
  border-radius: 50px;
  margin-bottom: 250px;
}

.subtitle {
  display: flex;
  justify-content: space-around;
  position: relative;
  border-radius: 100px;
  padding-top: 30px;
  bottom: 15px;
  background-color: #EAEAEA;
}
.subtitle .subtitle__title {
  text-align: center;
  border: 2px solid;
}
.subtitle .card__head {
  border: 2px solid;
}

.card__image {
  height: 180px;
}

.entree__one {
  background-color: #FFF;
  border: 2px solide black;
}

/*# sourceMappingURL=style.css.map */
