@keyframes check-spin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*loader*/
@keyframes opacity {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/*loading*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*card__heart1: hover*/
@keyframes heartr {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
/*card__heart2: hover*/
@keyframes heart {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  25% {
    transform: scale(0.25);
    -webkit-transform: scale(0.25);
  }
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  75% {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: auto;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/*charte graphiques*/
/*police*/
/*couleurs*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.title {
  box-shadow: 0 4px 2px -2px #cecece;
  margin-top: 10px;
  align-items: center;
  width: 100%;
  position: relative;
  height: 65px;
}
.title__arrow {
  display: flex;
  align-items: center;
}
.title__ohmyfood {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  align-items: center;
  text-align: center;
  color: black;
  padding-top: 10px;
}
.title__back {
  color: black;
  padding-left: 10px;
}
.title__back i {
  color: black;
}

/* loader*/
.loader {
  background-color: #FFF;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  animation: opacity 2s;
  animation-fill-mode: both;
}
.loader__loading {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #FFF;
  inset: 0;
  margin: auto;
  z-index: 2;
  border: 10px solid #9356dc;
  border-top: 10px solid #99e2d0;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear both infinite;
}

.footer {
  background-color: #353535;
  padding: 28px;
}
.footer__title {
  color: #FFF;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__li {
  display: flex;
  align-items: center;
}
.footer__i {
  color: #FFF;
  width: 25px;
}
.footer__a {
  display: flex;
  color: #FFF;
  line-height: 1.8;
}

.research {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.research__forms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.research__texte {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding-left: 18px;
  max-width: 140px;
  text-align: center;
}

.page__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}
.page__presentation__title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.page__presentation__p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 35px;
}

.page__explore {
  max-width: 300px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #FFF;
  font-weight: 400;
  padding-inline: 30px;
  border: none;
  border-radius: 50px;
  height: 50px;
  box-shadow: 1px 1px 15px -5px #7E7E7E;
  transition: transform 50ms;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page__explore:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}
.btn__title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 28px;
  margin-top: 50px;
}
.btn__all {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn__ext {
  padding-left: 0px;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: transform 50ms;
  padding-left: 10px;
  padding-right: 10px;
}
.btn__int {
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 0px 15px -9px #7E7E7E;
  height: 75px;
  position: relative;
  transition: background-color 2s;
}
.btn__int:hover {
  background-color: #F5EDFF;
}
.btn__int:hover .btn__infos {
  color: #9356dc;
}
.btn__number {
  padding-top: 5px;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  color: #FFF;
  left: -11px;
}
.btn__infos {
  color: #7E7E7E;
  text-align: center;
  width: 20%;
}
.btn__label {
  padding-left: 33px;
  text-align: start;
  padding-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}

.card {
  background-color: #f6f6f6;
}
.card__h3 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 28px;
  padding-top: 58px;
}
.card__all {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 55px;
}
.card__card {
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 9px;
  margin-top: 9px;
  width: 90%;
  position: relative;
  box-shadow: 0px 0px 15px -9px #7E7E7E;
}
.card__images {
  height: 180px;
  border-radius: 25px 25px 0 0;
}
.card__new {
  position: absolute;
  background-color: #99e2d0;
  z-index: 1;
  color: #008766;
  width: 80px;
  height: 25px;
  right: 20px;
  top: 20px;
  padding-top: 4px;
  padding-left: 8px;
}
.card__transf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  color: black;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 1.5;
}
.card__heart0 {
  width: 60px;
  height: 26px;
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__comment {
  color: black;
  padding-left: 20px;
}
.card__heart1 {
  font-size: 26px;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__heart2 {
  position: absolute;
  text-align: center;
  font-size: 26px;
  top: 0px;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}
.card__heart0:hover .card__heart1 {
  animation: heartr 0.3s both;
}
.card__heart0:hover .card__heart2 {
  color: linear-gradient(to bottom, #9356dc, #ff79da);
  height: 100%;
  transform-origin: bottom;
  animation: heart 0.3s both;
}

@media screen and (min-width: 991px) {
  .card__all {
    display: flex;
    flex-direction: row;
  }
  .btn__all {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 767px) {
  .card__card {
    margin-left: 8px;
    margin-right: 8px;
  }
}
.pages {
  background-color: #f6f6f6;
}

.subtitle {
  position: relative;
  border-radius: 40px 40px 0 0;
  padding-top: 30px;
  bottom: 50px;
  background-color: #f6f6f6;
}
.subtitle__images {
  height: 180px;
}
.subtitle__sub {
  display: flex;
  justify-content: space-between;
}
.subtitle__title {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin-left: 26px;
}

.dish {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}
.dish__title {
  padding-left: 6px;
  margin-bottom: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.dish__title:after {
  content: "";
  margin-top: 6px;
  display: block;
  height: 4px;
  width: 45px;
  background: #99e2d0;
}
.dish__complete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px -9px #7E7E7E;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation: openpage 1s;
  animation-fill-mode: both;
}
.dish__menu {
  padding-left: 10px;
  width: 100%;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish__titles {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 12px;
  margin-bottom: 10px;
}
.dish__par {
  font-weight: 300;
  font-size: smaller;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish__price {
  padding-bottom: 13px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.dish__animation {
  margin-right: 0;
  width: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.dish__green {
  display: grid;
  place-items: center;
  border-radius: 0 10px 10px 0;
  height: 70px;
  width: 73px;
  background-color: #99e2d0;
  text-align: center;
  margin-right: -74px;
  transition: all 0.5s ease-in-out;
}

.fa-circle-check {
  color: #FFF;
  font-size: 21px;
}

.dish__complete:hover .dish__green {
  margin-right: 0px;
}

.dish__complete:hover .fa-circle-check {
  animation: check-spin 0.5s ease-in-out;
}

.trans0 {
  animation-delay: 0s;
}

.trans1 {
  animation-delay: 0.15s;
}

.trans2 {
  animation-delay: 0.3s;
}

.trans3 {
  animation-delay: 0.45s;
}

.trans4 {
  animation-delay: 0.6s;
}

.trans5 {
  animation-delay: 0.75s;
}

.trans6 {
  animation-delay: 0.9s;
}

.trans7 {
  animation-delay: 1.05s;
}

.trans8 {
  animation-delay: 1.2s;
}

.trans9 {
  animation-delay: 1.35s;
}

@keyframes openpage {
  0% {
    transform: translatey(15px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
  }
}
.order {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__explore {
  max-width: 300px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #FFF;
  font-weight: 400;
  padding-inline: 100px;
  border: none;
  border-radius: 50px;
  height: 50px;
  box-shadow: 1px 1px 15px -5px #7E7E7E;
  transition: transform 50ms;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order__explore:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

@media screen and (min-width: 767px) {
  .subtitle__images {
    height: 250px;
  }
  .menus {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
  .dish {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 967px) {
  .subtitle__images {
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
