.footer {
  background-color: $footer_gray;
  padding: 28px;

  &__title {
    color: #FFF;
    font-size: 20px;
    font-family: "Shrikhand", cursive;

    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__title:hover{
    color:$dark-gray;
  }

  &__li {
    display: flex;
    align-items: center;
  }
 

  &__i {
    color: #FFF;
    width: 25px;

  }

  &__a {
    display: flex;
    color: #FFF;
    line-height: 1.8;

  }

}
.footer__li:hover .footer__i{
  color:$dark-gray;
}
.footer__li:hover .footer__a{
  color:$dark-gray;
}