.footer {
    background-color: #000;
    height: 240px;
    &__title{
        color:#FFF;
        font-size: 20px;
        font-family:"Shrikhand", cursive; 
        padding-left: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      
      &__li{
        display: flex;
      }
      &__i{
        color: #FFF;
        width: 3%;
      }
      
      &__a{
        display: flex;
        color: #FFF;
        line-height: 1.8;
        
      }
}