.title {
    box-shadow: 0 4px 2px -2px #cecece;
    position: relative;
    height: 65px;
    .title__ohmyfood{
        font-family: $font-title;
        font-size: 30px;
        align-items: center;
        text-align: center;
        color: $black;
        padding-top: 10px;
      
    }
  }


