.title {
    box-shadow: 0 4px 2px -2px #cecece;
    position: relative;
    .title__ohmyfood{
        font-family: "Shrikhand", cursive;
        font-size: 30px;
        text-align: center;
        color: $black;
    }
  }



