/*charte graphiques*/
/*police*/
$font_title:"Shrikhand", cursive;
$font:"Roboto", sans-serif;

/*couleurs*/
$light_green: #99e2d0;
$green:#008766;
$pink:#ff79da;
$purple:#9356dc;
$black:black;
$white:#FFF;
$light_gray:#f6f6f6;
$gray:#EAEAEA;
$dark_gray:#cecece;

body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
 }