.pages{
    background-color: $gray;
    border-radius: 50px;
    margin-bottom: 250px;
   
}
.subtitle{
    display: flex;
    justify-content: space-around;
    position: relative;
    border-radius:100px;
    padding-top: 30px;
    bottom: 15px;
    background-color: $gray;
   
.subtitle__title{
    
   text-align: center;
   border: 2px solid ;
}
.card__head{
    border: 2px solid ;  
}   
}
.card__top{
   
}
.card__image{
    height: 180px;
   
    
     
}
.entree__one{
    background-color: $white;
    border: 2px solide black;
}
