

.explore {
 
    width: 50%;
    background: linear-gradient(to top, $purple, $pink);
    color: $white;
    font-weight: 700;
    padding-inline: 20px;
    border: none;
    border-radius: 50px;
    height: 40px;
    box-shadow: 0 5px 10px $dark_gray;
    transition: transform 50ms;
    }
    .explore:hover{
      transform: scale(1.05);
      opacity: 0.8;
    }