button {
    cursor: pointer;
  }

.explore {
    width: 50%;
    background: linear-gradient(to top, $purple, $pink);
    color: $white;
    font-weight: 700;
    padding-inline: 20px;
    border: none;
    border-radius: 25px;
    height: 50px;
    box-shadow: 0 5px 10px $dark_gray;
    }