

/*loader*/
@keyframes opacity {

  0% {
    transform: scale(1)
  }

  99% {
    transform: scale(1)
  }

  100% {
    transform: scale(0)
  }
}

/*loading*/
@keyframes spin {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg);


  }
}

/*card__heart1: hover*/
@keyframes heartr {


  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

/*card__heart2: hover*/
@keyframes heart {
  0% {
    transform: scale(0);

  }

  25% {
    transform: scale(0.25);

  }

  50% {
    transform: scale(0.5);

  }

  75% {
    transform: scale(0.75);

  }

  100% {
    transform: scale(1);

  }
}
/*menu*/
@keyframes check-spin{
  0%{
      transform: rotate(90deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

